*.lo
*.la
*.o
3rdparty_dependency/
aclocal.m4
ar-lib
Makefile.in
Makefile
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache/*
config.guess
compile
**/.deps/*
**/.libs/*
Application/lense
